<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">{{ _('sporadic_backups') }}</h3>
  </div>
  <div class="panel-body">
    <table class="table table-striped table-hover ">
      <thead>
        <tr>
          <th>{{ _('Database') }}</th>
          <th>{{ _('Date_and_time') }}</th>
          <th>{{ _('Server') }}</th>
          <th>{{ _('Size') }}</th>
          <th colspan="2" style="text-align: center;">{{ _('Actions') }}</th>
        </tr>
      </thead>
      <tbody>
        {% for sporadic in sporadics %}
        <tr title="{{sporadic.file_name}}">
          <td>{{ sporadic.database }}</td>
          <td>{{ sporadic.date }} {{ sporadic.time }}</td>
          <td>{{ sporadic.server }}</td>
          <td>{{ sporadic.size }}</td>
          <td title="{{ _('share') }}">
            {% if sporadic.link_to_share_file %}
            <a href="{{sporadic.link_to_share_file }}">
              <i class="glyphicon glyphicon-share-alt"></i>
            </a>
            {% endif %}
          </td>
          <td title="{{ _('download') }}">
            <a href="{% url 'download' %}?filename={{sporadic.file_path}}">
              <i class="glyphicon glyphicon-download-alt"></i>
            </a>
          </td>
          <td id="removing_backups" title="{{ _('remove') }}">
            <a href="#" data-filename="{{sporadic.file_path}}" >
              <i class="glyphicon glyphicon-trash"></i>
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>




<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">{{ _('periodic_backups') }}</h3>
  </div>
  <div class="panel-body">
    <table class="table table-striped table-hover ">
      <thead>
        <tr>
          <th>{{ _('Database') }}</th>
          <th>{{ _('Date_and_time') }}</th>
          <th>{{ _('Server') }}</th>
          <th>{{ _('Size') }}</th>
          <th colspan="2" style="text-align: center;">{{ _('Actions') }}</th>
        </tr>
      </thead>
      <tbody>
       {% for periodic in periodics %}
        <tr title="{{periodic.file_name}}">
          <td>{{ periodic.database }}</td>
          <td>{{ periodic.date }} {{ periodic.time }}</td>
          <td>{{ periodic.server }}</td>
          <td>{{ periodic.size }}</td>
          <td title="{{ _('download') }}">
            <a href="{% url 'download' %}?filename={{periodic.file_path}}">
              <i class="glyphicon glyphicon-download-alt"></i>
            </a>
          </td>
          <td id="removing_backups" title="{{ _('remove') }}">
            <a href="#" data-filename="{{ periodic.file_path}}">
              <i class="glyphicon glyphicon-trash"></i>
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<script>
$(document).ready(function(){


  $('#removing_backups a').click(function(){
    if ( !confirm('{{ _('confirm_remove_file')}}') ) {
      return false;
    }
    file_name = $(this).attr('data-filename');
    $("body").addClass("wait");
    $.ajax({
        url: "{% url 'remove' %}",
        data: {
            filename: file_name
        },
        type: "GET",
        dataType: "html",
        success: function (data) {
        },
    }).done(function (data) {
      $("body").removeClass("wait");
      $('#user_notification').show();
      $('#user_notification').html(data);
      window.history.replaceState({}, '', '{% url 'index' %}');
      update_backups_lists();
    })
  });
    
});
</script>    
