<footer>
  <div class="navbar-fixed-bottom">
    <div class="col-lg-12" style="padding: 0% 6%;">
      <ul class="list-unstyled">
        <li class="pull-right">
          <a href="https://github.com/efornal/sdump">Sargo</a>
        </li>
        <li>
          <a href="http://validator.w3.org/check?uri=referer">HTML5</a> |
          <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> |
          <a href="http://bootswatch.com">Website templates</a>
          <a href=""> &nbsp;</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
