<div class="col-lg-12">
  <label for="db_select" class="control-label">{{ _('Database') }}</label>
  <select class="form-control" name="database_id" id="database_select">
    {% for database in databases %}
    <option value='{{ database.id }}'
            {% if database.id == database_id %} selected="selected" {% endif %}
            >{{ database.nombre }} ({{ database.id }})</option>
    {% endfor %}
  </select>
</div>
<script>

$(document).ready(function(){

  function update_extra_options() {

    if ( parseInt($('#database_select').val()) > 0 ) {
      $.ajax({
        url: "{% url 'update_extra_options' %}",
        data: {
            database_id: $('#database_select').val()
        },
        type: "GET",
        dataType: "html",
        success: function (data) {
            $('#extra_options').val(data);
        },
      })
      }
      if ( $('#server_select').val() > 0 && $('#group_select').val() > 0 && $('#database_select').val() > 0 ) {
        new_url = '{% url 'index' %}group/' + $('#group_select').val() + '/server/' + $('#server_select').val() + '/database/' + $('#database_select').val();
        window.history.pushState('', '', new_url);
    } else {
        window.history.pushState('', '', '{% url 'index' %}');
    }
      
  }
    
  $('#database_select').ready(function(){
    update_extra_options();
    if ( parseInt($('#database_select').val()) > 0 ) {
      $('#make_backup').attr("disabled", false);
    }else{
      $('#make_backup').attr("disabled", true);
    }
  });
    
  $('#database_select').change(function () {
    update_extra_options();
  });
   
});
</script>    
