<!DOCTYPE html>
<html lang="es">
  <head>
    {% load staticfiles %}
    <script src="{% static 'jquery-2.2.4.min.js' %}"></script>
    {% load bootstrap_themes %}
    {% bootstrap_styles theme='spacelab' type='css' %}
    {% bootstrap_script use_min=True %}
    {% load i18n %}
    {% get_current_language as LANGUAGE_CODE %}
    {% load application %}
    
    <meta charset="utf-8">
    <title>{{ ''|application_title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script type="text/javascript">
    function update_backups_lists() {
        console.log("update list backup");
        $.ajax({
            url: "{% url 'update_list_backups' %}",
            data: {
                group_id: $('#group_select').val()
            },
            type: "GET",
            dataType: "html",
            success: function (data) {
                $('#backups_lists').html(data);
            },
        })
    };

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-23019901-1']);
    _gaq.push(['_setDomainName', "bootswatch.com"]);
    _gaq.push(['_setAllowLinker', true]);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www')
            + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  </head>
  
  <body>
    
    <div class="navbar navbar navbar-fixed-top">
      <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <div id='logo-header'></div>
            <button class="navbar-toggle"
                    type="button" data-toggle="collapse" data-target="#navbar-main">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="navbar-collapse collapse" id="navbar-main">
            <ul class="nav navbar-nav">
            </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="#" title="{{ _('registered_user') }}">
            <i class="glyphicon glyphicon-user"></i> {{ user.username }}</a>
          </li>
          <li>
            <a href="{% url 'logout' %}" title="{{ _('close_session') }}">
            <i class="glyphicon glyphicon-log-out"></i></a>
          </li>
          <li style="margin-left:10px;"></li>
        </ul>

            <ul class="nav navbar-nav navbar-left">
              <li><a class="titulo" href="#">{{ ''|application_title }}</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>


    <div class="container">

      <div class="page-header" id="banner"></div>

      {% block content %}
      {% endblock %}


      <footer>
        <div class="navbar-fixed-bottom">
          <div class="col-lg-12" style="padding: 0% 6%;">
            <ul class="list-unstyled">
              <li class="pull-right">
                <a href="https://github.com/efornal/sdump">Sargo</a>
              </li>
              <li>
                <a href="http://validator.w3.org/check?uri=referer">HTML5</a> |
                <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> |
                <a href="http://bootswatch.com">Website templates</a>
                <a href=""> &nbsp;</a>
              </li>
            </ul>
          </div>
        </div>
      </footer>

    </div>



    <!-- <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script> -->
    <!-- <script src="../assets/js/bootswatch.js"></script> -->
    <script type="text/javascript">
      /* <![CDATA[ */
      (function(){try{var s,a,i,j,r,c,l=document.getElementsByTagName("a"),t=document.createElement("textarea");for(i=0;l.length-i;i++){try{a=l[i].getAttribute("href");if(a&&a.indexOf("/cdn-cgi/l/email-protection") > -1  && (a.length > 28)){s='';j=27+ 1 + a.indexOf("/cdn-cgi/l/email-protection");if (a.length > j) {r=parseInt(a.substr(j,2),16);for(j+=2;a.length>j&&a.substr(j,1)!='X';j+=2){c=parseInt(a.substr(j,2),16)^r;s+=String.fromCharCode(c);}j+=1;s+=a.substr(j,a.length-j);}t.innerHTML=s.replace(/</g,"&lt;").replace(/>/g,"&gt;");l[i].setAttribute("href","mailto:"+t.value);}}catch(e){}}}catch(e){}})();
      /* ]]> */
    </script>
  </body>
</html>
