{% extends "base.html" %}
{% load i18n %}

{% block content %}

<div class="bs-docs-section">
  <div class="row">
    <div class="col-lg-4">
      <div class="well bs-component">
        <form class="form-horizontal" action="{% url 'make_backup' %}">
          <fieldset>
            <legend>{{ _('data_backup') }}</legend>

            <div class="form-group" id="select_groups">
              {% include "_select_groups.html" %}
            </div>
            <div class="form-group" id="select_servers">
              {% include "_select_servers.html" %}
            </div>
            <div class="form-group" id="select_databases">
              {% include "_select_databases.html" %}
            </div>

            <div class="panel-body">
              <strong> {{ _('options') }} </strong>
            </div>
            
            <div class="form-group">
              <div class="col-lg-12">
                <div class="well">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox"> &nbsp;  {{ _('inserts') }}
                    </label>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox"> &nbsp; {{ _('clean') }}
                    </label>
                  </div>
                  <br>
                  <label for="db_select" class="control-label">{{ _('extra_options') }}</label>
                  <input class="form-control" id="inputText" type="text">
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="col-lg-10 col-lg-offset-7">
                <button type="submit" class="btn btn-primary">{{ _('make_backup') }}</button>
              </div>
            </div>
            
          </fieldset>
        </form>
        <div style="display: none;" id="source-button"
             class="btn btn-primary btn-xs">&lt; &gt;
        </div>
      </div>
    </div>



    <div class="col-lg-8">

      <form class="bs-component">
        <div class="bs-component" id="backups_lists">
          {% include "_backups_lists.html" %}
        </div>
      </form>
      
    </div>
  </div>


</div>
<script>
    


$(document).ready(function(){

  $('#group_select').change(function () {
    $.ajax({
        url: "{% url 'update_servers' %}",
        data: {
            group_id: $('#group_select').val()
        },
        type: "GET",
        dataType: "html",
        success: function (data) {
            $('#select_servers').html(data);
        },
    }).done(function (data) {
        $('#server_select').change();
    })
    $.ajax({
        url: "{% url 'update_list_backups' %}",
        data: {
            group_id: $('#group_select').val()
        },
        type: "GET",
        dataType: "html",
        success: function (data) {
            $('#backups_lists').html(data);
        },
    })
  });
  
});
</script>    
{% endblock %}
