{% extends "base.html" %}
{% load i18n %}

{% block content %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-dismissible alert-{{message.tags}}">
<button type="button" class="close" data-dismiss="alert">&times;</button>
  {{ message }}
</div>
{% endfor %}
{% endif %}

<div class="bs-docs-section">
  <div class="row">
    <div class="col-lg-4">
      <div class="well bs-component">
          <fieldset>
            <legend>{{ _('data_backup') }}</legend>

            <div class="form-group" id="select_groups">
              {% include "_select_groups.html" %}
            </div>
            <div class="form-group" id="select_servers">
              {% include "_select_servers.html" %}
            </div>
            <div class="form-group" id="select_databases">
              {% include "_select_databases.html" %}
            </div>

            <div class="panel-body">
              <strong> {{ _('options') }} </strong>
            </div>
            
            <div class="form-group">
              <div class="col-lg-12">
                <div class="well">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" name='opt_inserts' id='opt_inserts'>
                        &nbsp;  {{ _('inserts') }}
                    </label>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox"  name='opt_clean' id='opt_clean'>
                        &nbsp; {{ _('clean') }}
                    </label>
                  </div>
                  <br>
                    <label for="db_select" class="control-label">{{ _('extra_options') }}</label>
                    <input class="form-control" name="extra_options" id="extra_options" type="text">
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="col-lg-10 col-lg-offset-7">
                <button type="submit" id="make_backup" class="btn btn-primary">{{ _('make_backup') }}</button>
              </div>
            </div>
            
          </fieldset>
        <div style="display: none;" id="source-button"
             class="btn btn-primary btn-xs">&lt; &gt;
        </div>
      </div>
    </div>



    <div class="col-lg-8">
      <div class="well" id="user_notification" style="display: none;">
        {{ user_notification | safe }}
      </div>
      <div class="bs-component" id="backups_lists">
        <div class="well" id="backup_notification">
          {{ backup_notification | safe }}
        </div>
        {% include "_backups_lists.html" %}
        <br>
      </div>
    </div>

  </div>


</div>
<script>

$(document).ready(function(){
  function update_backups_lists() {
    $.ajax({
        url: "{% url 'update_list_backups' %}",
        data: {
            group_id: $('#group_select').val()
        },
        type: "GET",
        dataType: "html",
        success: function (data) {
            $('#backups_lists').html(data);
        },
    })
  };
    
  $("#make_backup").click(function() {
    if ( !confirm("{{ _('confirm_make_backup') }}") ) {
      return false;
    }
    $('#user_notification').show();
    $('#user_notification').html("{{ _('making_backup') }}");
    $.ajax({
        url: "{% url 'make_backup' %}",
        data: {
          csrfmiddlewaretoken: '{{ csrf_token }}',
          database_id: $('#database_select').val(),
          extra_options: $('#extra_options').val(),
          opt_inserts: $('#opt_inserts').val(),
          opt_clean: $('#opt_clean').val(),
        },
        type: "POST",
        dataType: "html",
        success: function (data) {

        },
      }).done(function (data) {
          $('#user_notification').show();
          $('#user_notification').append(data);
          update_backups_lists()
      })
  });

  $('#group_select').change(function () {
    $('#user_notification').hide();
    $.ajax({
        url: "{% url 'update_servers' %}",
        data: {
            group_id: $('#group_select').val()
        },
        type: "GET",
        dataType: "html",
        success: function (data) {
          $('#select_servers').html(data);
        },
    }).done(function (data) {
        $('#server_select').change();
    })
    update_backups_lists() 
  });


   
});
</script>    
{% endblock %}
